In [2]:
###  Now in python

import MySQLdb
import pandas as pd 
conn = MySQLdb.connect(host="localhost", user="root", passwd="", db="world")
cursor = conn.cursor()

queryAll = 'select Name, Continent, Population, LifeExpectancy, GNP from Country'
df = pd.read_sql(queryAll,conn)

#1. How many districts are in each city?

In [4]:
df.head()

          Name      Continent  Population  LifeExpectancy     GNP
0        Aruba  North America      103000            78.4   828.0
1  Afghanistan           Asia    22720000            45.9  5976.0
2       Angola         Africa    12878000            38.3  6648.0
3     Anguilla  North America        8000            76.1    63.2
4      Albania         Europe     3401200            71.6  3205.0

In [5]:
df.loc[:,'GNP_per_capita']=df.loc[:,'GNP']/df.loc[:,'Population']

In [6]:
df.head()

,Name,Continent,Population,LifeExpectancy,GNP,GNP_per_capita
0,Aruba,North America,103000,78.4,828.0,0.008039
1,Afghanistan,Asia,22720000,45.9,5976.0,0.000263
2,Angola,Africa,12878000,38.3,6648.0,0.000516
3,Anguilla,North America,8000,76.1,63.2,0.007900
4,Albania,Europe,3401200,71.6,3205.0,0.000942